<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <!--<add name="DatabaseDocument.Properties.Settings.ConnectionString"
            connectionString="Server=HASHIMJU1\SQLEXPRESS;Database=TaskDB;Trusted_Connection=True;" />-->
        <add name="DatabaseDocument.Properties.Settings.ConnectionString"
          connectionString="Server=localhost;Database=master;User Id=sa;Password=t6Eww7lL4teE;" />
        <add name="UI.Properties.Settings.ConnectionString" connectionString="Server=.;Database=TestDB;Trusted_Connection=True;" />
    </connectionStrings>
    <applicationSettings>
        <UI.Properties.Settings>
            <setting name="TemplateFilePath" serializeAs="String">
                <value>C:\Project\DatabaseDocument\tempalte\template.xls</value>
            </setting>
            <setting name="OutputFilePath" serializeAs="String">
                <value>C:\Project\DatabaseDocument\tempalte\output.xls</value>
            </setting>
            <setting name="ExcelMacroName" serializeAs="String">
                <value>Format</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>.\DatabaseDocument.log</value>
            </setting>
        </UI.Properties.Settings>
    </applicationSettings>
</configuration>